In [1]:
import pandas as pd
import numpy as np
import pylab as plt

# Set the global default size of matplotlib figures
plt.rc('figure', figsize=(10, 5))

# Size of matplotlib figures that contain subplots
fizsize_with_subplots = (10, 10)
# Size of matplotlib histogram bins
bin_size = 10

In [57]:
raw_df = pd.read_csv('./train.csv')
df = raw_df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']].copy()
#for col in ['Sex', 'Embarked']:
#    df[col] = df[col].astype('category')
df

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    male  22.0      1      0    7.2500        S
1           1       1  female  38.0      1      0   71.2833        C
2           1       3  female  26.0      0      0    7.9250        S
3           1       1  female  35.0      1      0   53.1000        S
4           0       3    male  35.0      0      0    8.0500        S
5           0       3    male   NaN      0      0    8.4583        Q
6           0       1    male  54.0      0      0   51.8625        S
7           0       3    male   2.0      3      1   21.0750        S
8           1       3  female  27.0      0      2   11.1333        S
9           1       2  female  14.0      1      0   30.0708        C
10          1       3  female   4.0      1      1   16.7000        S
11          1       1  female  58.0      0      0   26.5500        S
12          0       3    male  20.0      0      0    8.0500        S
13          0       3    male  39.0      1      5   31.2750        S
14          0       3  female  14.0      0      0    7.8542        S
15          1       2  female  55.0      0      0   16.0000        S
16          0       3    male   2.0      4      1   29.1250        Q
17          1       2    male   NaN      0      0   13.0000        S
18          0       3  female  31.0      1      0   18.0000        S
19          1       3  female   NaN      0      0    7.2250        C
20          0       2    male  35.0      0      0   26.0000        S
21          1       2    male  34.0      0      0   13.0000        S
22          1       3  female  15.0      0      0    8.0292        Q
23          1       1    male  28.0      0      0   35.5000        S
24          0       3  female   8.0      3      1   21.0750        S
25          1       3  female  38.0      1      5   31.3875        S
26          0       3    male   NaN      0      0    7.2250        C
27          0       1    male  19.0      3      2  263.0000        S
28          1       3  female   NaN      0      0    7.8792        Q
29          0       3    male   NaN      0      0    7.8958        S
..        ...     ...     ...   ...    ...    ...       ...      ...
861         0       2    male  21.0      1      0   11.5000        S
862         1       1  female  48.0      0      0   25.9292        S
863         0       3  female   NaN      8      2   69.5500        S
864         0       2    male  24.0      0      0   13.0000        S
865         1       2  female  42.0      0      0   13.0000        S
866         1       2  female  27.0      1      0   13.8583        C
867         0       1    male  31.0      0      0   50.4958        S
868         0       3    male   NaN      0      0    9.5000        S
869         1       3    male   4.0      1      1   11.1333        S
870         0       3    male  26.0      0      0    7.8958        S
871         1       1  female  47.0      1      1   52.5542        S
872         0       1    male  33.0      0      0    5.0000        S
873         0       3    male  47.0      0      0    9.0000        S
874         1       2  female  28.0      1      0   24.0000        C
875         1       3  female  15.0      0      0    7.2250        C
876         0       3    male  20.0      0      0    9.8458        S
877         0       3    male  19.0      0      0    7.8958        S
878         0       3    male   NaN      0      0    7.8958        S
879         1       1  female  56.0      0      1   83.1583        C
880         1       2  female  25.0      0      1   26.0000        S
881         0       3    male  33.0      0      0    7.8958        S
882         0       3  female  22.0      0      0   10.5167        S
883         0       2    male  28.0      0      0   10.5000        S
884         0       3    male  25.0      0      0    7.0500        S
885         0       3  female  39.0      0      5   29.1250        Q
886         0       2    male  27.0      0      0   13.0000        S
887         1       1  female  19.0      0      0   30.0000        S
888         0       3  female   NaN      1      2   23.4500        S
889         1       1    male  26.0      0      0   30.0000        C
890         0       3    male  32.0      0      0    7.7500        Q

[891 rows x 8 columns]

In [66]:
#df.isnull().sum()
#df[df.Embarked.isnull()]

df['Sex'].unique()
sexes = sorted(df['Sex'].unique())
genders_mapping = dict(zip(sexes, range(0, len(sexes) + 1)))
df['Sex_Val'] = df['Sex'].map(genders_mapping).astype(int)

df['Embarked'].fillna('-', inplace=True)
embarked_locs = sorted(df['Embarked'].unique())
embarked_locs_mapping = dict(zip(embarked_locs, range(0, len(embarked_locs) + 1)))
embarked_locs_mapping
df['Embarked_Val'] = df['Embarked'].map(embarked_locs_mapping).astype(int)

df['AgeFill'] = df['Age']
df['AgeFill'] = df['AgeFill'].groupby([df['Sex_Val'], df['Pclass']]).apply(lambda x: x.fillna(x.median()))
        
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_Val,Embarked_Val,AgeFill
0,0,3,male,22.0,1,0,7.2500,S,1,3,22.0
1,1,1,female,38.0,1,0,71.2833,C,0,1,38.0
2,1,3,female,26.0,0,0,7.9250,S,0,3,26.0
3,1,1,female,35.0,1,0,53.1000,S,0,3,35.0
4,0,3,male,35.0,0,0,8.0500,S,1,3,35.0
5,0,3,male,NaN,0,0,8.4583,Q,1,2,25.0
6,0,1,male,54.0,0,0,51.8625,S,1,3,54.0
7,0,3,male,2.0,3,1,21.0750,S,1,3,2.0
8,1,3,female,27.0,0,2,11.1333,S,0,3,27.0
9,1,2,female,14.0,1,0,30.0708,C,0,1,14.0
10,1,3,female,4.0,1,1,16.7000,S,0,3,4.0
11,1,1,female,58.0,0,0,26.5500,S,0,3,58.0
12,0,3,male,20.0,0,0,8.0500,S,1,3,20.0
13,0,3,male,39.0,1,5,31.2750,S,1,3,39.0
14,0,3,female,14.0,0,0,7.8542,S,0,3,14.0
15,1,2,female,55.0,0,0,16.0000,S,0,3,55.0
16,0,3,male,2.0,4,1,29.1250,Q,1,2,2.0
17,1,2,male,NaN,0,0,13.0000,S,1,3,30.0
18,0,3,female,31.0,1,0,18.0000,S,0,3,31.0
19,1,3,female,NaN,0,0,7.2250,C,0,1,21.5
20,0,2,male,35.0,0,0,26.0000,S,1,3,35.0
21,1,2,male,34.0,0,0,13.0000,S,1,3,34.0
22,1,3,female,15.0,0,0,8.0292,Q,0,2,15.0
23,1,1,male,28.0,0,0,35.5000,S,1,3,28.0
24,0,3,female,8.0,3,1,21.0750,S,0,3,8.0
25,1,3,female,38.0,1,5,31.3875,S,0,3,38.0
26,0,3,male,NaN,0,0,7.2250,C,1,1,25.0
27,0,1,male,19.0,3,2,263.0000,S,1,3,19.0
28,1,3,female,NaN,0,0,7.8792,Q,0,2,21.5
29,0,3,male,NaN,0,0,7.8958,S,1,3,25.0
...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,male,21.0,1,0,11.5000,S,1,3,21.0
862,1,1,female,48.0,0,0,25.9292,S,0,3,48.0
863,0,3,female,NaN,8,2,69.5500,S,0,3,21.5
864,0,2,male,24.0,0,0,13.0000,S,1,3,24.0
865,1,2,female,42.0,0,0,13.0000,S,0,3,42.0
866,1,2,female,27.0,1,0,13.8583,C,0,1,27.0
867,0,1,male,31.0,0,0,50.4958,S,1,3,31.0
868,0,3,male,NaN,0,0,9.5000,S,1,3,25.0
869,1,3,male,4.0,1,1,11.1333,S,1,3,4.0
870,0,3,male,26.0,0,0,7.8958,S,1,3,26.0
871,1,1,female,47.0,1,1,52.5542,S,0,3,47.0
872,0,1,male,33.0,0,0,5.0000,S,1,3,33.0
873,0,3,male,47.0,0,0,9.0000,S,1,3,47.0
874,1,2,female,28.0,1,0,24.0000,C,0,1,28.0
875,1,3,female,15.0,0,0,7.2250,C,0,1,15.0
876,0,3,male,20.0,0,0,9.8458,S,1,3,20.0
877,0,3,male,19.0,0,0,7.8958,S,1,3,19.0
878,0,3,male,NaN,0,0,7.8958,S,1,3,25.0
879,1,1,female,56.0,0,1,83.1583,C,0,1,56.0
880,1,2,female,25.0,0,1,26.0000,S,0,3,25.0
881,0,3,male,33.0,0,0,7.8958,S,1,3,33.0
882,0,3,female,22.0,0,0,10.5167,S,0,3,22.0
883,0,2,male,28.0,0,0,10.5000,S,1,3,28.0
884,0,3,male,25.0,0,0,7.0500,S,1,3,25.0
885,0,3,female,39.0,0,5,29.1250,Q,0,2,39.0
886,0,2,male,27.0,0,0,13.0000,S,1,3,27.0
887,1,1,female,19.0,0,0,30.0000,S,0,3,19.0
888,0,3,female,NaN,1,2,23.4500,S,0,3,21.5
889,1,1,male,26.0,0,0,30.0000,C,1,1,26.0
890,0,3,male,32.0,0,0,7.7500,Q,1,2,32.0

In [83]:
# df
# df.describe()
# df.Sex.value_counts()
# df.Sex.value_counts().plot(kind='bar')
# df[df.Sex.isnull()]
# df[df.Sex == 'male']
# df.Fare.hist(bins=5)

###
#fig, axs = plt.subplots(1, 2)
#df[df.Sex == 'male'].Survived.value_counts().plot(kind='barh', ax=axs[0], title='male survived')
#df[df.Sex == 'female'].Survived.value_counts().plot(kind='barh', ax=axs[1], title='female survived')


passenger_classes = sorted(df['Pclass'].unique())
for pclass in passenger_classes:
    df.AgeFill[df.Pclass == pclass].plot(kind='kde')
plt.title('Age Density Plot by Passenger Class')
plt.xlabel('Age')
plt.legend(('1st Class', '2nd Class', '3rd Class'), loc='best')

ImportError: No module named 'scipy'

In [29]:
cat_columns = df.select_dtypes(['category']).columns
df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)
df_pre = df.fillna(df.mean())
#df_pre

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [27]:
df_norm = df_pre/df_pre.max().astype(np.float64)
#df_norm = (df_pre - df_pre.mean()) / (df_pre.max() - df_pre.min())
df_norm

ValueError: operands could not be broadcast together with shapes (1782,) (2,)